*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: monospace;
}

body{
    background-color: black;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 80vw;
    margin-left: 20vw;
    top: 0;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

header{
    background-color: rgb(45, 15, 87);
    height: 80vh;
    width: 15vw;
    display: flex;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 5vw;
    box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
    -webkit-box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
    -moz-box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
    transition: 0.4s ease;
    transform: translateX(-400px);
}

.none{
    display: none;
}

nav{
    display: flex;
    align-items: center;

}

.ulNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

.burger{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    position: absolute;
    margin-left: 10vw;
    transform: translate(-50%);
    margin-top: 20px;
}

.burger:hover{
    
}

.burger:hover .bar{
    background-color: #fff;
}

.btDarkMode{
    position: absolute;
    margin-left: 10vw;
    transform: translate(-50%);
    background: none;
    border: none;
    bottom: 50px;
}


.imglune{
    width: 30px;
}

.bar{
    width: 45px;
    height: 4px;
    background-color: rgb(45, 15, 87);
    margin-top: 9px;
}

.bar_mid{
    width: 30px;
}

.bar_up , .bar_down{
    transition: 0.4s;
    transform: rotate(0deg);
}

.barAnimationTop{
    transform: rotate(45deg) translateY(9px);

}

.barAnimationBot{
    transform: rotate(-45deg) translateY(-9px);
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

.linav{
    margin-top: 50px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

a:hover{
    color: rgb(168, 168, 168);
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.1;
}

header.animationHeader{
    transform: translateX(0);
}

.Projet1 , .Projet2 {
    display: flex;
}
.partG{
    width: 50vw;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partD{
    width: 50vw;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partG > img{
    width: 50%;
    height: 50%;
    
}

.partD > img{
    width: 50%;
    height: 50%;
    
}

.IIM:hover{
    color: orange;
}

.divlogoC{
    display: flex;
    margin-top: 75vh;
}


.barFooter{
    width: 70vw;
    height: 4px;
    display: flex;
    transform: translateY(70vh);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: rgb(45, 15, 87);
}

.logoContact{
    display: flex;
    width: calc(100vW/3);
    justify-content: center;
}

.img_logo{
    width: 100px;
    transition: all 0.3s ease-in-out 0s;
}
.img_logo:hover{
    transform: rotate(360deg) scale(1.4);
}

.TxtBotFooter{
    text-align: center;
    margin-top: 25px;
}

.sidebar{
    width: 20vw;
    left: 0;
    height: 100vh;
    position: absolute;
    border-right: solid 4px rgb(45, 15, 87) ;
}

.scrollRecap{
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.bullet{
    width: 20px;
    height: 20px;
    background-color: #fff;

}

.bullet1, .bullet2, .bullet3, .bullet4{
    margin-top: 20px;
}
