*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

header{
    background-color: white;
    height: 100px;
    margin-top: 10px;
    width: calc(100vw - 40px);
    margin-left: 10px;
    margin-right: 10px;
}

section{
    height: 100vh;
}

.Projet1 , .Projet2 {
    display: flex;
}
.partG{
    width: 50vw;
    margin-left: 0;
    display: flex;
}

.partD{
    width: 50vw;
    margin-right: 0;
    display: flex;
}

.partG > img{
    width: 50%;
    height: 50%;
    
}

.partD > img{
    width: 50%;
    height: 50%;
    
}