*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: monospace;
}

body{
    background-color: black;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 90vw;
    margin-left: 10vw;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

header{
    background-color: rgb(45, 15, 87);
    height: 100px;
    margin-top: 10px;
    width: calc(100vw - 40px);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
    -webkit-box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
    -moz-box-shadow: 0px 0px 45px 17px rgba(45,15,87,1);
}

.none{
    display: none;
}

nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.burger{
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    position: absolute;
    margin-left: 5vw;
    transform: translate(-50%);
}

.btDarkMode{
    position: absolute;
    margin-left: 5vw;
    transform: translate(-50%);
    background: none;
    border: none;
    bottom: 5px;
}

.imglune{
    width: 40px;
}

.bar{
    display: block;
    width: 45px;
    height: 4px;
    background-color: rgb(45, 15, 87);
    margin-top: 9px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

a:hover{
    color: rgb(168, 168, 168);
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.1;
}

.Projet1 , .Projet2 {
    display: flex;
}
.partG{
    width: 50vw;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partD{
    width: 50vw;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partG > img{
    width: 50%;
    height: 50%;
    
}

.partD > img{
    width: 50%;
    height: 50%;
    
}

.IIM:hover{
    color: orange;
}

.divlogoC{
    display: flex;
    margin-top: 75vh;
}

.logoContact{
    display: flex;
    width: calc(100vW/3);
    justify-content: center;
}

.img_logo{
    width: 100px;
    transition: all 0.3s ease-in-out 0s;
}
.img_logo:hover{
    transform: rotate(360deg) scale(1.4);
}